.bg
{
    position: absolute;
    width: 100%;
    z-index: 0;
}

.content
{
    margin: 0 auto;
    position: relative;
    width: 500px;
    z-index: 999;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}