<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>Wellthi break</title>

        <!-- Bootstrap core CSS -->
        <link href="../static/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet">

        <script>
            function goToChatBot() {
                window.location.href = "/return_to_chatbot";
            }
        </script>

    </head>

    <body>

        <div class="container">
            <div class="row">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ExVb7aRVeLU" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
                <div id="chatbot_redirect">
{#                    <form action="/return_to_chatbot" method="get">#}
{#                        <button>Back to chat bot</button>#}
{#                    </form>#}
                    <form>
                        <input type="button" value="Back to chat bot" onclick="goToChatBot()">
                    </form>
{#                    <a class="btn btn-large btn-info" href="/index" type="submit">Back to chat bot</a>#}
                </div>
            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <footer>
                <p>&copy; zenAptix 2018</p>
            </footer>
        </div> <!-- /container -->


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="../static/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
    </body>
</html>

<!--{% extends "bootstrap/base.html" %}-->
<!--{% block title %}This is an example page{% endblock title %}-->

<!--{% block main %}-->
    <!--<h2>This is a child template.</h2>-->
    <!--{% endblock main %}-->
